---
layout: default
location: 'blog'
---

<div class="posts">
  {% if site.posts.size == 0 %}
    <h1> Please wait! </h1>
    <p>
      I'm still populating this section! It will be full soon.
    </p>
  {% endif %}
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      {% if post.excerpt.size != post.content.size %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      {% endif %}
    </article>
  {% endfor %}
</div>

{% include page_nav.html %}
