---
layout: default
permalink: /projects/
location: 'projects'
---

<div class="posts">
  {% if site.projects.size == 0 %}
    <h1> Please wait! </h1>
    <p>
      I'm still populating this section! It will be full soon.
    </p>
  {% endif %}
  {% for post in site.projects reversed %}
    <article class="post">

        {% if post.preview %}
          <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="/images/projects{{ post.preview }}" class="previewImg"/>
          </a>
        {% endif %}
        
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">
          {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
