<!-- Pagination links -->
<div class="pagination">
	
	<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', 1 }}"> &laquo;&laquo; First</a>

	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous"> &laquo; Previous </a> |
	{% else %}
		<span class="previous"> &laquo; Previous </span> |
	{% endif %}
	
	{% for page in ((paginator.page-3)...(paginator.page+3)) %}
		{% if page <= 0 or page > paginator.total_pages%}
			{% continue %}
		{% endif %}
		
		{% if page == paginator.page %}
			<em> {{ page }} </em>
		{% elsif page == 1 %}
			<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}"> {{ page }} </a>
		{% else %}
			<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"> {{ page }} </a>
		{% endif %}
	{% endfor %}
	
	
	{% if paginator.next_page %}
		| <a href="{{ paginator.next_page_path }}" class="next">Next</a>
	{% else %}
		| <span class="next ">Next &raquo; </span>
	{% endif %}
	<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}"> Last &raquo;&raquo;</a>
</div>